---
import type { Targets } from '@Global';

// export type Targets = '_blank' | '_self' | '_parent';

interface Props {
    href  : string;
    target: Targets;
    name  : string;
}

const { href,  target, name} = Astro.props;
---

<a 
    class="dark:text-gray-200  mx-1.5 sm:mx-6"
    href   = { href }
    target = { target }
>
    { name }
</a>
