---
import MainLayout from '../layouts/MainLayout.astro';
const title = 'Sobre Mi'
---

<MainLayout title=`${title}``>
    <h1>{title}</h1>

    <p>
        Soy programdor y desarrollador de software web y de aplicaciones.
    </p>
    <p>
        Mi especialización es back-end con:
    </p>
    <ol>
        <li>JS/Ts con Node</li>
        <li>JS/Ts con Deno</li>
        <li>JS/Ts con Bun</li>
        <li>Express</li>
        <li>Fastify</li>
        <li>NestJS</li>
        <!-- <li>Java con Spring/SpringBoot</li> -->
        <!-- <li>Python con flask/Django</li> -->
    </ol>
    <p>
        También manejo de buena forma las siguientes tecnologías:
    </p>
    <ol>
        <li>Versionamiento con git</li>
        <li>Contenerización con docker de aplicaciones</li>
        <li>Pruebas unitarias y de integración con Jest</li>
        <li>Pruebas E2E con Postman/Insomnia</li>
        <li>Creación de BD con SQL:</li>
        a. SQLite <br/>
        b. PostgreSQL
        <li>Creación de BD NoSQL con MongoDB</li>
        <li>Plataformas de hostign como</li>
        a. Vercel <br>
        b. Netlify <br>
        c. AWS <br>
        d. Azure <br>
        e. Heroku <br>
        f. Digital Ocean <br>
        <li>Manejo de bases de datos con orms como prisma y mongoose</li>
    </ol>
</MainLayout>