---
import MainLayout from '../layouts/MainLayout.astro';
const title = 'Historia';
---

<MainLayout title={title}>
    <h1>{title}</h1>

    <h2>Vida</h2>
    <img src="" alt="foto general">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore minus, doloremque unde voluptatum, fuga nulla numquam iure fugiat magnam quaerat at laudantium consequuntur amet ut facilis provident eaque dolores quia?</p>
    <h2>Recorrido academico</h2>
    <img src="" alt="foto general">
    <img src="" alt="foto general">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore minus, doloremque unde voluptatum, fuga nulla numquam iure fugiat magnam quaerat at laudantium consequuntur amet ut facilis provident eaque dolores quia?</p>
    <h2>Mi aprendizaje</h2>
    <img src="" alt="foto general">
    <img src="" alt="foto general">
    <img src="" alt="foto general">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore minus, doloremque unde voluptatum, fuga nulla numquam iure fugiat magnam quaerat at laudantium consequuntur amet ut facilis provident eaque dolores quia?</p>
    <h2>Los profesores que me impulsaron</h2>
    <img src="" alt="foto general">
    <img src="" alt="foto general">
    <img src="" alt="foto general">
    <img src="" alt="foto general">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore minus, doloremque unde voluptatum, fuga nulla numquam iure fugiat magnam quaerat at laudantium consequuntur amet ut facilis provident eaque dolores quia?</p>
    <h2>La maldita Batiz (CECyT No.9:"Juan de Dios Batiz")</h2>
    <img src="" alt="foto general">
    <img src="" alt="foto general">
    <img src="" alt="foto general">
    <img src="" alt="foto general">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore minus, doloremque unde voluptatum, fuga nulla numquam iure fugiat magnam quaerat at laudantium consequuntur amet ut facilis provident eaque dolores quia?</p>

</MainLayout>