---
import MainLayout from '../layouts/MainLayout.astro';
const title = 'Sergio Elias Arce Roldán';
---

<MainLayout title=`Home - ${title}`>
    <h1>¡Hola! Soy {title}</h1>
    <img src="" alt="mi foto ajaj">
    <br />
    <br />
    <br />
    <br />
    <p>
        Est aliqua ut in est irure ipsum adipisicing ipsum minim aute occaecat incididunt non. In duis nulla officia nulla incididunt dolor enim. Ullamco officia minim ea ex ut nostrud do labore esse non id est est. Duis aute est exercitation esse duis ullamco anim est ullamco occaecat tempor est excepteur laborum. Est commodo culpa irure sint fugiat nostrud reprehenderit est esse quis nostrud occaecat aliquip qui.
    </p>
</MainLayout>