---
const urlGithub =   "https://github.com/SergioMainJG";
const urlLinkedin = "https://www.linkedin.com/in/arce-rold%C3%A1n-sergio-el%C3%ADas/";
const urlFacebook = "https://www.facebook.com/ElEsposoDeLaPoderosaXayah/";
const urlX =        "https://x.com/DblNew";
---

<footer>
    <a href={urlGithub}>   Github      </a>
    <a href={urlLinkedin}> Linkedin    </a>
    <a href={urlFacebook}> Facebook    </a>
    <a href={urlX}>        X - Twitter </a>
</footer>
