---
const navTitle = "Navigation";
---
<span>{navTitle}</span>
<nav>
    <a href="/">Home</a>
    <a href="/about">about</a>
    <a href="/contact">contact page</a>
    <a href="/404">404</a>
</nav>

<hr />