---
import MainLayout from "@layouts/MainLayout.astro";

const title = "Covid Stadistics" 
---

<MainLayout title={ title }>
    <div
        class="size"
    >
        <lite-youtube 
            class="rounded-lg"
            videoid="BtN-goy9VOY"
        >
    </lite-youtube>
    </div>
</MainLayout>

<style>
    .size {
        @apply lg:w-2/3 md:w-1/3
    }
</style>