---
import NormalTitles from "@components/Titles/NormalTitles.astro";
interface URLS {
    name: string;
    url: string;
}
const pagesUrls: URLS[] = [
    { name: "Páginas Principal", url:"/"},
    { name: "Estadisticas",      url:"/stadistics"},
];

---

<nav class="flex">
    <!-- <SecondaryTitles> -->
        <!-- Hola -->
        <!-- </SecondaryTitles> -->
    <ul class="flex-row">
    {
        pagesUrls.map( ({ name, url}) => (
            <li 
            class= "navBarLi"
            >
                <NormalTitles>
                    <a 
                        class=""
                        href={url}
                        > 
                        {name}
                    </a>
                </NormalTitles>
            </li>
        ))
    }
    </ul>
</nav>
<hr class="to-white" />

<style>
    .navBarLi{
        list-style-type: none;
        @apply m-3 p-3
    }
</style>