---
import MainLayouts from "../layouts/MainLayouts.astro";

---
<MainLayouts title="Contact Page">
    <h1>Contacto personal</h1>
    <a href="">arce.roldan.sergio@gmail.com</a>
    <p>Número: 5576454903</p>
</MainLayouts>